<% layout('layouts/boilerplate') %>
<div id="map-user"></div>

<div class="title-wrapper">
  <% if(!places.length) { %>
  <h2 class="title title-small">It looks like you haven't added any places yet, click <a href="/places/new">here</a> to add a Place.</h2>
  <% } else {%>
  <h1 class="title">Your Places List.</h1>
  <% } %>
</div>

<div class="place-carts">
  <% for (place of places) { %>
  <div class="cart-item">
    <div class="img-item">
      <% if(place.images.length) {%>
      <img src="<%=place.images[0].thumbnail%>" alt="">
      <% } else {%>
      <img src="/images/img-placeholder.jpg" alt="">
      <% } %>
    </div>

    <div class="cart-info">
      <p class="cart-name">
        <%= place.name %>
      </p>
      <p class="cart-author">added by <span>
          <%= place.author.username %>
      </span>.</p>
      <p class="cart-location">
        <%= place.location %>
      </p>
      <p class="cart-link">
        <a href="/places/<%=place.id%>">> Show</a>
      </p>
    </div>

  </div>
  <% } %>
</div>

<script>
  const mapBoxToken = '<%-process.env.mapboxtoken%>';
  const userPlaces = {
    features: <%- JSON.stringify(places) %>
  };
</script>

<script src="/js/cartImageZoom.js"></script>
<script src="/maps/userPlacesMap.js"></script>